/* This file will hold the main styles for your website. */
@darkblue: #002C50;
@duriangreen: #8BC53F;
h1,h2,h3 {
  letter-spacing: 0px;
}
.menu-li-defaults {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
blockquote {
  border-left: 5px solid #e6e6e6;
  padding-left: 20px;
}
body {
  background: url(../images/bg.png) repeat-x #F2F2F2;
  &.admin-menu {
    background: url(../images/bg.png) repeat-x 0 30px #F2F2F2;
  }
  padding-bottom: 150px;
}
h1 {
  &.site-name {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  &.title {
    color: #0071BC;
  }
}
.logo-img {
  margin-top: 32px;
}
.site-name-slogan {
  display: none;
}
#section-header {
  margin-bottom: 44px;
}
#zone-footer {
  border-top: 1px solid #dedede;
  color: #aaa;
  padding: 20px 0;

  a {
    color: #aaa;
  }
}

.sidebar {
  .block {
	  background: #e6e6e6;
	  margin-bottom: 20px;
	  padding: 8px 10px 5px 10px;

	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  -khtml-border-radius: 5px;
	  border-radius: 5px;

	  .block-title {
	    color: #0071bc;
		  font-size: 22px;
	  }
  }

  .block-highlight {
    background: #002c50;
    color: #f2f2f2;

	  a {
      color: #8bc53f;
    }

    .block-title {
      color: #8bc53f;
    }
  }
}

/* Events Views Block */
#block-views-events-block {
  background: #002C50;
  color: #F4F5F5;
  font-size: 16px;
  margin-top: 10px;
  padding: 15px 10px;
  padding-top: 20px;
  width: 220px;
  h2 {
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 7px;
    text-transform: uppercase;
  }
  h3 {
    color: #8BC53F;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 0;
    a {
      color: #8BC53F;
      text-decoration: none;
    }
  }
}
/* Main menu Block */
#block-system-main-menu {
  ul.menu {
    background: @darkblue;
    height: 78px;
    li {
      .menu-li-defaults
    }
    a {
      color: #3C92CF;
      display: block;
      font-size: 24px;
      height: 78px;
      line-height: 110px;
      padding: 0px 15px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover, &.active {
        background: @duriangreen;
        color: #002C50;
      }
    }
  }
}
#block-system-user-menu {
  margin-top: 7px;
  ul.menu {
    background: @darkblue;
    height: 23px;
    li {
      .menu-li-defaults;
      &.first {
        float: left;
      }
      &.last {
        float: right;
      }
    }
    a {
      color: #8BC53F;
      padding: 0 10px;
      text-decoration: none;
    }
  }
}
#block-block-1 {
  background: #CCC;
  color: #666;
  text-align: right;
  padding: 20px 12px;
  h3 {
    font-size: 22px;
    line-height: 1.2em;
    margin: 0;
    font-weight: normal;
    letter-spacing: 0px;
  }
  a {
    color: #0071BC;
    text-decoration: none;
    font-weight: bold;
  }
}

/* Showcase Views */
.view-showcase {
  ul {
    margin: 0;
    li {
      float: left;
      margin: 0;
      &.views-row-odd {
        margin-right: 20px;
      }
    }
  }
  h3 {
    margin: 0;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .views-field-view-node {
    text-align: right;
  }
  .views-row {
    position: relative;
    z-index: 0;
  }
  .views-field-body {
    background: #333;
    bottom: 0;
    color: #FFF;
    display: none;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 0;
    position: absolute;
    width: 250px;
    z-index: 10;
    p {
      margin-bottom: 10px;
    }
  }
  img {
    height: 210px;
    width: 280px;
  }
}

/* Node */
.node-end-wrapper {
  height: 31px;
  margin: 30px 0 10px 0;
  position: relative;
}
.node-end-line {
  background: #ccc;
  height: 1px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 100%;
}
.node-end-line-icon {
  background: url(../images/icon-durian.png) no-repeat;
  height: 31px;
  margin: 0 auto;
  position: relative;
  width: 56px;
}
.node-article {
  .field-name-field-image {
    float: left;
    margin-right: 10px;
  }

  .node-links {
    margin-top: 15px;
  }

  .submitted-wrapper {
    color: #999;
    margin-bottom: 25px;

    .submitted-name {
      font-weight: bold;
    }

    .submitted-pic {
	    float: left;
      margin-right: 6px;

      img {
        border: 1px solid #999;
      }
    }
  }
}

/* System */
.form-item {
  margin-bottom: 2em;
}
.form-type-password-confirm .form-item {
  margin: 0;
}
fieldset,
html.js fieldset.collapsed {
  border: 1px solid #ccc;
}
fieldset {
  padding: 25px 14px 12px 14px;
}
html.js fieldset.collapsed {
  height: auto;
}
fieldset .fieldset-legend,
html.js fieldset.collapsible .fieldset-legend {
  background: none;
  font-weight: bold;
  height: auto;
  margin-top: 0.8em;
  padding-left: 0;
  position: absolute;
  text-transform: uppercase;
}
fieldset .fieldset-wrapper {
  padding-top: 4px;

  .form-item {
    margin-bottom: 8px;
  }
}
.item-list .pager {
  margin-top: 15px;
}

/* Search */
.sidebar .block-search {
  padding: 8px 10px;

  input.form-text {
    width: 70%;
  }
}

/* Comments */
#comments {
  .comment {
    background: #e6e6e6;
    padding: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  }
}